<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <span class="logo-text">chronobuzz</span>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
           <li>
            <a href="/admin/">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
